<article class="hop-mini-card">
    <a href="{{ product.url }}" class="hop-mini-card__link">
        {% if product.images.first %}
        <img src="{{ product.images.first.url }}" alt="{{ product.name }}" class="hop-mini-card__img" loading="lazy">
        {% endif %}
        <div class="hop-mini-card__info">
            <p class="hop-mini-card__name">{{ product.name }}</p>
            <p class="hop-mini-card__price">{{ product.price.formatted }}</p>
        </div>
    </a>
</article>
