<div class="hop-comments">
    <h3>{{ trans('comments.title') }}</h3>
    <salla-comments>
        {% for comment in comments %}
        <div class="hop-comment">
            <div class="hop-comment__head"><strong>{{ comment.author }}</strong><span>{{ comment.date }}</span></div>
            <p>{{ comment.body }}</p>
        </div>
        {% endfor %}
        <div class="hop-comment-form">
            <h4>{{ trans('comments.add') }}</h4>
            <div class="hop-form__group"><input type="text" name="name" placeholder="{{ trans('comments.name') }}" class="hop-input"></div>
            <div class="hop-form__group"><textarea name="comment" placeholder="{{ trans('comments.message') }}" class="hop-textarea" rows="4"></textarea></div>
            <button type="submit" class="hop-btn">{{ trans('comments.submit') }}</button>
        </div>
    </salla-comments>
</div>
